@page {
	margin: 2mm; /*print邊界*/
	size: 30mm 20mm; /*列印紙張大小*/
	/*size: portrait; */ /* 直向 */
	/*size: landscape;*/ /* 橫向 */
}

.print {
	page-break-after: always; /*print分頁面*/
}

@media print {
	.imgs {
		width: 100px;
	}
	html {
		/*width: 60mm;
		height: 20mm;*/
		font-size: 18px;
	}
}

html {
	/*width: 60mm;
	height: 20mm;*/
	
	font-size: 18px;
}

#barcode_sn_print{
	transform-origin: 50% -25%;
	transform: scale(2.1);
}